/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  font-size: 14px;
  text-align: center;
  color: #333;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a, a:visited         { color: #4183c4; text-decoration: none;}
a:hover   { color: #4183c4; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
  padding: 0px 0px 0px 0px;
}

.posts li {
  line-height: 1.75em; 
}

.posts li a {
  background: transparent url(/images/bullet-li.png) 0 2px no-repeat;
  padding-left: 10px;
}
.posts li a:hover {
  background-position: 2px 2px;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: justify;
  width: 660px;
  margin: 0px auto;
  line-height: 1.5em;
}

.header {
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
  line-height: 50px;
  height: 50px;
}

.header h1 {
  float: left;
  margin: 7px 0px 0px 0px;
}

.header .right {
  float: right;
  line-height: 50px;
}

.header h1 a {
  font-weight: bold;
  text-decoration: none;
  background-image:url(/images/help-logo.png);
  background-size:120px 32px;
  display: block;
  width: 120px;
  height: 32px;
  text-indent: -1000px;
  overflow: hidden;
}

.header .right a {
  color: #aaa;
  margin-left: 1em;
  text-decoration: none;
}

.header .right a:hover {
  color: #000;
}



.meta {
  color: #aaa;
}

.page_body {
  height: 100%;
  margin-bottom: -121px;
  position: relative;
}
.footer {
  color: #666;
  font-size: 12px;  
  border-top: 1px solid #eee;
  background-color: #fafafa;
  margin-top: 2em;
  height: 80px;
  position: relative;
  margin-top: 40px;  
  overflow: hidden;
}

.footer-content {
    padding: 20px 0px;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.quickstart {
  margin-top: 20px;
}

.quickstart .col, .quickstart .last {
  float: left;
  width: 206px;
  margin-right: 21px;
}

.quickstart .last {
  margin-right: 0px;
}

.quickstart .guide {
  padding-top: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #f7f7f7;
}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}


.info {
  margin-top: 30px;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
}

.info .page_info {
  float: left;
  color: #666;
}

.info .page_search {
  float: right;
}







