---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$font-family-thin: "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans;
$font-family-base: $font-family-thin;
$link-color: #4183C4;
$link-hover-color: #689cd0;
$link-hover-decoration: none;
$jumbotron-bg: transparent;
$line-height-base: 1.5;

$panel-body-padding: 0px;
$font-size-h1: 2em;
$font-size-h2: 20px;
$font-size-h3: 1.17em;

$searchbox-bg: #7ACAE4;


@import 'bootstrap/bootstrap';

* { margin: 0; padding: 0; }

body {
  -webkit-font-smoothing: antialiased;
  color: #333;
}

footer {
  background-color: #f3f3f3;
}

.post img {
  @include img-responsive;
}

.article {
  h5, h6 {
    background-color: #ffdd87;
    border: #ffce54;
    color: #8a6d3b;
    font-size: 12px;
    font-weight: normal;
    padding: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 10px 0px;
  }
  
  ol li {
    position: relative;
    list-style: none;
    padding-left: 25px;
  }
  
  h3 {
    border-bottom: 1px solid #dddddd;
    font-weight: normal;
    color: #325d72;
    margin: 20px 0px 10px 0px;
  }
  
  
}

.category h3 {
  font-size: 14px;
  font-weight: normal;
  color: #4A90E2;
  margin: 15px 0px 10px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ddd;
}
  
.searchbox {
  background-color: $searchbox-bg;
  margin-top: -21px;
}

#mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

#video-popover {
  display: none;
  position: fixed;
  z-index: 1100;
  margin: auto;
  top: 0;
  width: 1024px;
  height: 640px;
  bottom: 0;
  right: 0;
  left: 0;
  
  #close-video {
    background: #505050;
    color: #fff;
    position: relative;
    z-index: 1200;
    padding: 4px 8px;
    text-align: right;
  }
}

.category-posts {
  position: absolute;
  display: none;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  left: 77px;
  box-shadow: 0 1px 2px #ccc;
  z-index: 1000;
  
  h3 {
    font-size: 16px;
    margin: 0px 0px 10px 0px;
  }
}

.copyright {
  border-top: 1px solid #ccc;
  padding: 20px 0px;
  margin-top: 60px;
}

.faq-link {
  margin-right: 20px;
}