/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  font-size: 14px;
  color: #333;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a, a:visited         { color: #4183c4; text-decoration: none;}
a:hover   { color: #4183c4; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
  padding: 0px 0px 0px 0px;
}

.posts li {
  line-height: 1.75em; 
}

.posts li a {
  background: transparent url(/images/bullet-li.png) 0 6px no-repeat;
  padding-left: 10px;
  display: block;
}
.posts li a:hover {
  background-position: 2px 6px;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  width: 660px;
  margin: 0px auto;
  line-height: 1.5em;
}

.header {
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
  line-height: 50px;
  height: 50px;
}

.header h1 {
  float: left;
  margin: 7px 0px 0px 0px;
}

.header .right {
  float: right;
  line-height: 50px;
}

.header h1 a {
  font-weight: bold;
  text-decoration: none;
  background-image:url(/images/help-logo.png);
  background-size:120px 32px;
  display: block;
  width: 120px;
  height: 32px;
  text-indent: -1000px;
  overflow: hidden;
}

.header .right a {
  color: #aaa;
  margin-left: 1em;
  text-decoration: none;
}

.header .right a:hover {
  color: #000;
}



.meta {
  color: #aaa;
}

.footer {
  color: #666;
  font-size: 12px;  
  border-top: 1px solid #eee;
  background-color: #fafafa;
  height: 80px;
  margin-top: 40px;  
  text-align: center;
  bottom: 0px;
}

.footer-content {
  padding: 20px 0px;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 0px;
  padding-left: 0px;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.quickstart {
  margin-top: 20px;
}

.quickstart a:hover {
  color: #4A7EFF;
}

.quickstart .col, .quickstart .last {
  float: left;
  width: 206px;
  margin-right: 21px;
}

.quickstart .last {
  margin-right: 0px;
}

.quickstart .guide {
  padding-top: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #f7f7f7;
}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}


.info {
  margin-top: 30px;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  padding-bottom: 4px;
}

.info .page_info {
  float: left;
  color: #666;
}

.info .page_search {
  float: right;
}


.article h2 {
  font-size: 30px;
  font-weight: normal;
}

.article h3 {
  border-bottom: 1px solid #dddddd;
  font-weight: normal;
  color: #325d72;
  margin: 40px 0px 20px 0px;
}

.article h4 {
  font-size: 16px;
}

.article h5, .article h6 {
  background-color: #ffdd87;
  border: #ffce54;
  color: #8a6d3b;
  font-size: 12px;
  font-weight: normal;
  padding: 15px;
  border-radius: 4px;
  margin: 10px 0px;
}

.article h6 {
  background-color: #b9df90;
  border: #a0d468;
  color: #3c763d;
}

.article img {
  max-width: 100%;
  border: 1px solid #ccc;
  margin: 10px 0px 20px;  
}

.article td, .article th {
  border: 1px solid #ccc;
  padding: 4px;
}

.article th {
  background-color: #f7f7f7;
}
.article a:hover {
  text-decoration: underline;
}

.post ol {
  counter-reset: li;
}

.post ol li {
  position: relative;
  list-style: none;
  padding-left: 25px;
}

.post ul {
  padding-left: 10px;
}

.article ul li {
  background: transparent url(/images/bullet-li.png) 0 0.4em no-repeat;
  padding-left: .7em;
  margin: 5px 0;
  list-style: none;
}

.article .post ol>li:before {
  border-radius: 50px;
  -o-border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background: #ff8533;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #FFF;
  content: counter(li);
  counter-increment: li;
  display: block;
  font-size: 12px;
  font-weight: bold;
  left: 0px;
  line-height: 18px;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 1px 0 0;
  text-align: center;
  width: 20px;
}

#faq {
  margin-top: 30px;
  border-radius: 3px;
  border: 1px solid #ddd;
}

#faq h2 {
  font-size: 18px;
  font-weight: normal;
  background-color: #fafafa;
  margin: 0;
  padding: 5px 15px;
  border-bottom: 1px solid #ddd;
}fefefe

#faq .posts {
  margin-top: 0px;
}

#faq ul {
  margin: 0px;
}
#faq li {
  border-bottom: 1px solid #ddd;
}

#faq li a {
  padding: 5px 15px 5px 25px;
  background-position: 16px 11px;
}

#faq li a:hover {
  background-color: #DCF1FD;
  padding: 5px 15px 5px 25px;
  background-position: 18px 11px;
}

.category h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 15px 0px 10px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ddd;
}

.form-search-home input{
  padding: 4px;
  width: 596px;
  padding-right: 48px;
}

.form-search-home button {
  padding: 6px;
  margin-left: -49px;
}

.form-search-page input{
  padding: 2px;
  padding-right: 40px;
}

.form-search-page button{
  padding: 4px;
  margin-left: -40px;
}

.update {
  margin-bottom: 50px;
}

.update h3 {
  border-bottom: 1px dotted #999
}

.update-content ul {
  margin: 0px;
  padding: 0px;
}
.update-content li {
  list-style: none;
}
.update-content strong, .update-content em, .update-content code {
  background-color: #7ab03f;
  color: #fff;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-family: inherit;
}

.update-content em {
  background-color: #269ecb;
}

.update-content code {
  background-color: #d1293a;
}

a.update-link {
  color: #999;
  font-size: 14px;
}

.update-link:hover {
  color: #ff8000;
}

.club h3 {
  margin: 6px 0;
}

a.club-link {
  color: #999;
  font-size: 14px;
}

.club-link:hover {
  color: #ff8000;
}

.contact-human {
  background-color: #F0F0F0;
  padding: 20px;
  border-radius: 6px;
}

.contact-human h2 {
  font-weight: normal;
  font-size: 20px;
}

.contacts .contact {
  width: 33%;
  float: left;
}

.contacts .explain {
  color: #666;
}
.contacts .channel {
  font-weight: bold;
}