---
layout: default
title: "金数据帮助中心"
---

{% include search.html %}

{% include faq.html %}

{% include videos-home.html %}

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2>功能帮助</h2>
    </div>
  </div>

  <div class="row">
    {% for cat in site.category_dict %}
      {% capture modulo %}{{forloop.index0 | modulo:3}}{% endcapture %}
      {% if modulo == '0'%}
      </div>
      <div class="row">
      {% endif %}
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="category">
            <h3>
              {{ cat[1] }}
              {% if cat[0] == 'wechat' %}
                <i class="fa fa-weixin"></i>
              {% endif %}
              {% if cat[0] == 'payment' %}
                <img src="/images/alipay-icon.png" width="18" style="vertical-align: top;" />
              {% endif %}
            </h3>
            <ul class="posts">
              {% for page in site.posts %}
                {% if page.category == cat[0] %}
                  <li>
                    <a href="{{ page.url }}"><i class="fa fa-chevron-right"></i> {{ page.title }}
                    {% if page.tags contains 'new'%} <span class="label label-success">新功能</span>{% endif %}
                    {% if page.tags contains 'video'%} <i class="fa fa-video-camera"></i>{% endif %}
                    {% if page.tags contains 'H'%} <i class="fa fa-exclamation" style="color: #ff0000"></i> {% endif %}
                    {% if page.tags contains 'M'%} <i class="fa fa-exclamation" style="color: #ff8000"></i> {% endif %}
                    {% if page.tags contains 'L'%} <i class="fa fa-exclamation" style="color: #ffcc66"></i> {% endif %}
                    {{ page.author }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
    {% endfor %}
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <h2>上面的文章没能解决问题？没关系，联系我们！</h2>
    </div>
    <div class="row">

      <div class="col-md-4">
        <div class="contact-inner">
          <h3><i class="fa fa-envelope"></i> 客服邮件</h3>
          <p class="channel"><a href="mailto:support@jinshuju.net">support@jinshuju.net</a></p>
          <p class="explain">我们会回复每一封邮件</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-inner">
          <p class="channel" style="text-align:center"><a href="/support/" class="btn btn-default">提交工单</a></p>
          <p class="explain">任何时间可提交！</p>
        </div>
      </div>

    </div>
  </div>
</footer>

<script type="text/javascript">
  $(function(){
    $(".form-search-home .search-field").focus(function() {
      $(this).closest('form').addClass('focus');
    });
    $(".form-search-home .search-field").blur(function() {
      $(this).closest('form').removeClass('focus');
    });
  });
</script>

<script>
  var option = {
    engineKey: '1d3b05d228479b7845e8',
    resultContainingElement: '#ts-results-container',
    renderStyle: 'new_page',
    resultPageURL: '/search.html'
  };
  (function(w,d,t,u,n,s,e){
    s = d.createElement(t);
    s.src = u;
    s.async = 1;
    w[n] = function(r){
    w[n].opts = r;
    };
    e = d.getElementsByTagName(t)[0];
    e.parentNode.insertBefore(s, e);
  })(window,document,'script','//tinysou-cdn.b0.upaiyun.com/ts.js','_ts');
  _ts(option);
</script>
