<div id="all_field_links">
  {% for field in site.data.fields %}
    <div class="field-item">
    	<a href="#field_{{ field.id }}"><img src="http://jinshuju-help-pics.b0.upaiyun.com/images/add-field-link-{{ field.id }}.png" alt="{{ field.name }}链接" /></a>
    </div>
  {% endfor %}
</div>

<h6>带V的字段仅限标准版及以上版本用户可用。</h6>

{% for field in site.data.fields %}
<div class="fields-introduction">
	<h3 id="field_{{ field.id }}">{{ field.name }}</h3>
	{{ field.description | markdownify }}
	<img src="http://jinshuju-help-pics.b0.upaiyun.com/images/use-fields-{{ field.id }}.png" alt="{{ field.name }}" />
</div>
{% endfor %}
