<div class="searchbox">
  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
              <div class="search text-center">
                <p>输入问题，找到答案：</p>

                <form role="search" method="get" class="form" action="http://www.baidu.com/s" target="_jinshujusearch">
                  <div class="form-group">
                    <div class="input-group">
                      <input name="q6" type="hidden" value="help.jinshuju.net" >
                      <input type="search" value="" name="q1" class="input-lg form-control" placeholder="输入关键字">  
                      <span class="input-group-btn">
                        <input type="submit" value="搜索" class="btn btn-primary btn-lg" />
                      </span>
                    </div>
                  </div>
                </form>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>