---
layout: default
---

            <h2>微信增强包</h2>

<p>微信增强包极大的增强了金数据表单在微信端的表现。通过这个扩展，表单创建者能够获得以下能力：</p>

<ul>
  <li>限制只能在微信中填写</li>
  <li>获取微信昵称、性别、地区等相关信息</li>
  <li>推送微信消息</li>
</ul>

<div class="article">
  <div class="post">
    <h3>开启微信增强包</h3>
    <p>微信增强包是一组独立的功能模块，仅针对需要的用户打开。目前这个功能仅对付费用户开放。如果需要使用，请参考以下步骤：</p>

    <ol>
      <li>登录金数据</li>
      <li>进入个人中心</li>
      <li>点击“微信增强”</li>
      <li>仔细阅读功能介绍，点击下面的按钮“开启微信增强包”</li>
    </ol>
      <img src="/images/wechat－1.png" alt=""></li>
    <p>至此，你的微信增强包就开启了。然后你可以到表单进行相应的设置。</p>
    </ol>

    <h3>限制只能在微信中填写</h3>
    <p>开启微信增强包之后，你可以在对应的表单中进行进一步的设置。步骤如下：</p>
    <ol>
      <li>点击你想要通过微信收集数据的表单，进入“设置”</li>
      <li>点击“数据收集”，勾选“只能在微信中填写表单”</li>
      <li>大功告成！</li>
      <img src="/images/wechat－2.png" alt="">
    </ol>
    <p>当用户通过微信之外的方式收集表单时，金数据会提示用户使用微信扫一扫扫描二维码填写表单。其他方式都不予接受。</p>

    <h3>获取微信昵称、性别、地区等相关信息</h3>
    <p>默认情况下，金数据不会收集填表用户的微信信息。但你可以通过两种方式来获取这些信息，以供未来使用。</p>

    <ul>
      <li>点击你想要通过微信收集数据的表单，进入“设置”</li>
      <li>点击“数据收集”</li>
      <li>你可以在“不收集用户信息”、“通过金数据公众号收集”和“使用自己的公众号收集”中进行选择。默认情况下为“不收集用户信息”</li>
      <li>点击“通过金数据公众号收集”，你不需要任何微信公众号。当这个选项被选中时，用户填表之前会提示是否授权金数据获取他的个人信息。同意之后，用户填写并提交表单会将其微信信息记录。这种情况下，用户将会看见“金数据”的微信公众号信息。</li>
      <li>点击“通过你自己的公众号收集”，你需要配置自己的微信公众号。当这个选项被选中时，用户填表之前会提示是否授权你的微信公众号获取他的个人信息。同意之后，用户填写并提交表单会将其微信信息记录。这种情况下，用户会看见你自己的微信公众号信息。如果你有公众号，建议勾选这一项，能够增强表单的权威感。</li>
      <img src="/images/wechat－3.png" alt=""></li>
    </ul>

    <p>现在你的表单将会只能收集填表用户的微信信息了。注意这个选项并非是强制的。用户拒绝授权，仍然能够填表。不过这条数据将不包含他的微信信息。</p>

    <p>进入数据页面，你会发现多了四列，分别对应微信昵称（以及头像）、微信性别、微信国家和微信地区。你可以交叉过滤这些数据，以获取更为真实的数据。比如：过滤来自陕西西安的女性。
    <img src="/images/wechat－6.png" alt=""></p>
    </p>

    <h3>推送微信消息</h3>
    <p>除了现有的推送短信、邮件之外，微信增强包还推出了微信消息的推送。用户在填完表单之后，能够向填表用户的微信推送一条消息。</p>
    <h5>注意：1. 你需要微信高级服务号才能主动向用户推送消息。 2. 用户需要在48小时内与公众号产生交互。</h5>
    <p>配置步骤</p>
    <ol>
      <li>点击你想要通过微信收集数据的表单，进入“设置”</li>
      <li>点击“提醒推送”</li>
      <li>进入下方的“微信提醒”</li>
      <li>你需要首先有一个配置好的微信公众号（详细教程请看“配置微信公众号”）。然后你可以按照正常的短信或者邮件的方式，为填表用户编写一条定制的微信消息。</li>
    <img src="/images/wechat－4.png" alt=""></li>
    </ol>
    
    <h3>配置微信公众号</h3>
    <p>如果你想使用自己的微信公众号来进行收集用户信息，或者向用户推送微信消息，你需要对使用这个功能的表单来配置微信公众号。</p>
    <ol>
      <li>点击你想要通过微信收集数据的表单，进入“设置”</li>
      <li>点击“微信增强”</li>
      <li>按照屏幕提示，完成配置信息的输入</li>
      <li>注意检测这些输入是否正确</li>
      <img src="/images/wechat－5.png" alt=""></li>
    </ol>
  </div>
</div>