---
layout: default
---

<div class="fixed-width-inner faq-page scroll-area">
  <h1>常见问题</h1>

	<div id="faq" class="clearfix">
	  <div class="fixed-width-inner">
	    <table>
	      <tbody>
	        {% for faq in site.data.faqs %}
	          {% capture modulo %}{{forloop.index0 | modulo:2}}{% endcapture %}
	          {% if modulo == '0' or forloop.first %}
	            <tr>
	          {% endif %}
	          <td><a href="#{{ faq.id }}"><i class="fa fa-circle"></i> <span>{{ faq.question }}</span></a></td>
	          {% if modulo == '1' or forloop.last %}
	            </tr>
	          {% endif %}
	        {% endfor %}
	      </tbody>
	    </table>
	  </div>
	</div>

  {% for faq in site.data.faqs %}
    <h3 id="{{ faq.id }}">{{ faq.question }}</h3>
    <p>{{ faq.answer | markdownify }}</p>
  {% endfor %}
</div>
<div class="go-to-top" title="回到顶部"><i class="fa fa-arrow-circle-up"></i></div>