---
layout: default
---

<div class="info clearfix">
  <div class="page_info">
    小金俱乐部：{{ page.date | date: "%F" }}
  </div>
  <div class="page_search">
    <form role="search" method="get" class="form-search-page" action="https://www.google.com/search">
      <input type="search" value="" name="q" class="search-field form-control" placeholder="输入关键字">
      <input type="hidden" name="sitesearch" value="help.jinshuju.net">
      <button type="submit" class="search-submit">搜索</button>
    </form>
  </div>
  
</div>

<div class="article">
  <h2>{{ page.title }}</h2>
  <div class="post">
    {{ content }}
  </div>  
</div>
