<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="icon" href="/images/help-favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        
        <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
        <script src="/js/stickUp.js"></script>
    </head>
    <body>
      <div class="page_body">      
         <div class="header">
            <div class="fixed-width-inner">
              <h1 class="title">
                <a href="/">{{ site.name }}</a>
              </h1>
              <div class="right">
              <!-- 
                <a href="/club/">小金俱乐部</a>
                <span class="separator">&nbsp;|&nbsp;</span>
                 -->
                <b><a href="http://support.jinshuju.net/request/guest">提交工单</a></b>
                <span class="separator">&nbsp;|&nbsp;</span>
                <a href="/updates/">功能更新</a>
                <span class="separator">&nbsp;|&nbsp;</span>
                <a href="https://jinshuju.net/">返回金数据</a>
              </div>
            </div>          
          </div>

          <div class="site">
            {{ content }}
          </div>
        </div>
        <div class="footer">
          <div class="footer-content">
            <span>&copy;</span> 2015 <a href="https://jinshuju.net/">金数据</a>
            <!-- a href="/articles/contribution-guide.html">贡献指南</a -->
          </div>          
        </div>

        <script type="text/javascript">
          $(function(){
            $(window).on('scroll resize', function() {
              if ($('.go-to-top').length > 0) {
                if($(window).scrollTop() > ($(window).height() / 2)) {
                  left = Math.min(($('.scroll-area').offset().left + $('.scroll-area').outerWidth() + 10), ($(window).width() - 50));
                  $('.go-to-top').show().css('left', left).css('right', 'auto');
                }
                else {
                  $('.go-to-top').hide();
                }
              }
            });
            $(document).on('click', '.go-to-top', function() {
              $(window).scrollTop(0);
              if ($('.quick-menu').length > 0) {
                $(window).trigger('scroll');
              }
            });
          });
        </script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-48208031-4', 'jinshuju.net');
          ga('require', 'displayfeatures');
          ga('send', 'pageview');

          var trackFAQ = function() {
            if(window.location.href.indexOf('/categories/faq.html') >= 0 && window.location.hash.length > 0) {
              ga('send', 'event', 'FAQ', '点击', $(window.location.hash).text());
              // console.log('hashchange', $(window.location.hash).text());
            }
          };
          $(window).on ('hashchange', function(){
            trackFAQ();
          });
          $(document).on('page:load ready', function(){
            trackFAQ();
          });
        </script>

    </body>
</html>
