<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="icon" href="/images/help-favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
      <div class="page_body">      
         <div class="header">
            <div class="site">
              <h1 class="title">
                <a href="/">{{ site.name }}</a>
              </h1>
              <div class="right">
                <a href="/club/">小金俱乐部</a>
                <a href="/updates/">功能更新</a>
                <a href="https://jinshuju.net/">返回金数据</a>
              </div>
            </div>          
          </div>

          <div class="site">
            {{ content }}
          </div>
        </div>
        <div class="footer">
          <div class="footer-content">
            版权所有，<a href="https://jinshuju.net/">金数据</a> 2013-2014
            <!-- a href="/articles/contribution-guide.html">贡献指南</a -->
          </div>          
        </div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48208031-4', 'jinshuju.net');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>
    </body>
</html>
